<template>
  <div class="pagination">
    <a href="#" @click="prevPage">&laquo;</a>
    <a>{{ currentPage }}</a>
    <a href="#" @click="nextPage">&raquo;</a>
  </div>
</template>

<script>
import {mapActions} from 'vuex'

export default {
  data() {
    return {
      currentPage: 1,
      itemsPerPage: 10
    }
  },

  async created() {
    await this.fetchBeers({page: this.currentPage, itemsPerPage: this.itemsPerPage})
  },

  methods: {
    ...mapActions('beer', ['fetchBeers', 'setSelectedBeerId']),

    nextPage() {
      this.currentPage++
    },

    prevPage() {
      if (this.currentPage !== 1) {
        this.currentPage--
      }
    }
  },

  watch: {
    currentPage(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.setSelectedBeerId(null)
        this.fetchBeers({page: this.currentPage, itemsPerPage: this.itemsPerPage})
      }
    }
  }

}
</script>

<style scoped>
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
</style>
