<template>
  <div v-if="selectedBeerId != null">
    <h3>{{ getSelectedBeer.name }}</h3>
    <h4>{{ getSelectedBeer.tagline }}</h4>
    <img :src="getSelectedBeer.image_url" alt="Beer Image" height="300"><br>
    <span>{{ getSelectedBeer.description }}</span>
  </div>
</template>

<script>
import {mapGetters, mapState} from 'vuex'

export default {
  computed: {
    ...mapState('beer', ['selectedBeerId']),
    ...mapGetters('beer', ['getSelectedBeer'])
  }
}
</script>
