<template>
  <div>
    <ul>
      <li v-for="beer in beers" :key="beer.id">
        <a @click="setSelectedBeerId(beer.id)">
          {{ beer.name }}
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import {mapActions, mapState} from 'vuex'

export default {

  computed: {
    ...mapState('beer', ['beers'])
  },

  methods: {
    ...mapActions('beer', ['setSelectedBeerId']),
  }
}
</script>

<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  color: #42b983;
}

a:hover {
  color: #36495e;
  cursor: pointer;
}
</style>
