<template>
  <div id="app">
    <span style="font-size: 6em">🍺</span>
    <HelloWorld/>
    <BeerList/>
    <BeerPagination/>
    <BeerDetail style="margin-top: 60px"/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import BeerList from '@/components/BeerList'
import BeerDetail from '@/components/BeerDetail'
import BeerPagination from '@/components/BeerPagination'

export default {
  name: 'App',
  components: {
    BeerPagination,
    BeerDetail,
    BeerList,
    HelloWorld
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
